<section>
    <h2>All articles</h2>
    <div class="spacer">
        <ul>
            <li>
                <a href="/articles/{{_id}}/details">Astronomy</a>
            </li>
            <li>
                <a href="/articles/{{_id}}/details">Galaxy</a>
            </li>
            <li>
                <a href="/articles/{{_id}}/details">Planet</a>
            </li>
            <li>
                <a href="/articles/{{_id}}/details">Star</a>
            </li>
            <li>
                <a href="/articles/{{_id}}/details">Telescope</a>
            </li>
        </ul>
    </div>
</section>