<section>
    <h2>All articles</h2>
    <div class="spacer">
        <ul>
            <li>
                <a href="/articles/details/{{_id}}">Astronomy</a>
            </li>
            <li>
                <a href="/articles/details/{{_id}}">Galaxy</a>
            </li>
            <li>
                <a href="/articles/details/{{_id}}">Planet</a>
            </li>
            <li>
                <a href="/articles/details/{{_id}}">Star</a>
            </li>
            <li>
                <a href="/articles/details/{{_id}}">Telescope</a>
            </li>
        </ul>
    </div>
</section>